/* *{color:purple;} */
/* .alert-text {color: red;} */
/* p {color: aqua;} */
/* 
div {
  color: rgb(187, 156, 255);
  background-color: rgb(25, 4, 38);
}

p {
  color: red;
} */

body {
  background-color: black;
  color: white; /* makes text visible */
  font-family: Arial, sans-serif;
}

h, h1, h3 {
  color: pink
}

p, ul, ol {
  color:lightblue
}

ul, ol {
  border-style:unset;
  border-color: rgb(27, 27,27);
  border-width: 4px;
  border-radius: 7px;
  padding: 5px;
}

img {
    width: 300px; ;
    height: auto;
}
